<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
        .button {
      border-radius: 4px;
      background-color: #00CCFF;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 20px;
      padding: 15px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }

    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      /*right: -20px;*/
      transition: 0.5s;
    }

    .button:hover span {
      padding-right: 20px;
    }

    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    .sub{
        margin-top: 20px; 
    }
    .like-icon{
        color: blue;
    }
    .unlike-icon{
        color: #DDDDDD;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Navigation -->
   
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/users/posts" style="margin-left: 20px;">TTNT</a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
          <li ><a href="#">Trang chủ</a></li>
          <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><%=reqUser.username%> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                     <li><a href="/users/<%=reqUser.username%>">Trang cá nhân</a></li>
                    <li class="active"><a href="/users/write">Viết bài</a></li>
                </ul>
          </li>
          <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
    <!-- Page Content -->
    <div  ng-app="postsApp" ng-controller="posts">
             
        <section id="">
            <div class="container" >
                <div class="col-md-8" >
                    <ul class="">
                            <li class="list-group-item" style="height:150px;" ng-repeat="a in Posts">    
                                <a style="text-decoration: none;" href="/posts/{{a.id}}"><h3>{{a.title}}</h3> </a>               
                                
                                <div class="col-md-2" style=" padding-top:25px">
                                    <table class="text-center">
                                        <tr>
                                            <th><label >  {{a.soLike}}</label></th>
                                            <th><label ng-class="a.isLike ? 'like-icon' : 'unlike-icon'"<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> | </label></th>

                                            <th><label> {{a.soCmt}}</label></th>
                                            <th><label>  <i class="fa fa-bookmark" aria-hidden="true"></i></label></th>
                                        </tr>
                                    </table>
                                </div>
                                <!-- <div class="col-md-10">
                                    <a href="" style="text-decoration: none;">
                                        {{a.owner}}
                                    </a>
                                </div> -->
                            </li>
                    </ul>
                     <button class="button subnext" ng-click="next()" style="float: right;"><span>Next </span></button>
                        <button class="button subprev" ng-click="prev()" style="float: right;"><span>Prev </span></button>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="avatar" src=<%=reqUser.profile.avatar%>>
                        </div>
                        <div class="col-md-7">
                            <div class="thong_tin_ca_nhan">
                                <label>User name:</label>
                                <%=reqUser.username%><br>
                                    <label>Age: </label>
                                    <%=reqUser.profile.age%><br>
                                        <label>Adress: </label>
                                        <%=reqUser.profile.city%><br>
                                            <label>Job: </label>
                                            <%=reqUser.profile.job%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; TTNT 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('postsApp', []);
        app.controller("posts", function ($scope, $http) {
            var i;
            $http.get("/Page").then(function(result) {
                i=0;
                console.log('startaaa');
                console.log(result);
                $scope.Posts = result.data[i]; 
                if(result.data.length ==1){
                        $('.subnext').hide();
                    }            
                $('.subprev').hide();
            }); 
            $scope.next = function(){
                i++;
                console.log(i);
                // console.log(id);
                $http({
                method : "GET",
                url: "/Page",
                data: {},
                headers: {'Content-Type': 'application/json'}
              }).then(function(data){
                    $scope.Posts = data.data[i];
                    if(data.data.length ==1){
                        $('.subnext').hide();
                        $('.subprev').hide();
                    }
                    else{
                        if( i > 0 && i<data.data.length-1){
                            $('.subprev').show();
                            $('.subnext').show();
                        }
                        if(i == data.data.length-1) {
                            $('.subnext').hide();
                            $('.subprev').show();       
                        }
                    }
                })
            }
            $scope.prev = function(){
                i-=1;
                console.log(i);
                // console.log(id);
                $http({
                method : "GET",
                url: "/Page",
                data: {},
                headers: {'Content-Type': 'application/json'}
              }).then(function(data){
                $scope.Posts = data.data[i];
                    if( i > 0){
                        $('.subprev').show();
                        $('.subnext').show();
                    }
                    if(i== data.data.length-1) {
                        $('.subprev').show();
                        $('.subnext').hide();
                        
                    }
                    if(i==0){
                        $('.subprev').hide();
                        $('.subnext').show();
                    }
                })
            }
        })
    </script>

</body>

</html>