<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        .like-icon {
            color: blue;
        }

        .unlike-icon {
            color: #DDDDDD;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Navigation -->
       <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/users/posts" style="margin-left: 20px;">TTNT</a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
          <li ><a href="/users/posts">Trang chủ</a></li>
          <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><%=reqUser.username%> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                     <li><a href="/users/<%=reqUser.username%>">Trang cá nhân</a></li>
                    <li class="active"><a href="/users/write">Viết bài</a></li>
                </ul>
          </li>
          <li><a href="/users/logout"><span class="fa fa-sign-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
    <!-- Page Content -->

    <div ng-app="likeApp" ng-controller="like">
        <section id="">
            <div class="container">
                <div class="col-md-8" >
                    <center>
                        <h1>
                            {{Post.title}}
                        </h1>
                    </center><br>
                    <div id="content">
                        <%- content %>
                    </div>

                    <!-- <div style="float:right;"> -->
                        <div class="col-md-2 col-md-offset-10">
                                <h5>
                                    <span>
                                        <span>{{Post.soLike }}<label ng-class="Post.isLike ? 'like-icon' : 'unlike-icon'" ng-click="likeOrUnLike()">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
                                            </label>
                                        </span> &nbsp; &nbsp;
                                        <span>{{Post.soCmt}} <span class=""><i class="fa fa-comment-o" aria-hidden="true"></i></span>
                                        </span>
                                    </span>
                                </h5><br>
                        </div>
                    <!-- </div> -->
                    <h4>Comment:</h4>
                        <form role="form">
                          <div class="form-group">
                            <textarea class="form-control" rows="3" value="" ng-model = 'comment' required></textarea>
                          </div>
                          <button type="submit" ng-click="addCmt();" class="btn btn-success">Submit</button>
                        </form>
                        <br><br>
                        
                        <p><span class="badge">{{Post.soCmt}}</span> Comments:</p><br>
                        
                        <!-- <div class="row"> -->
                            <ul>
                                <li class="list-group-item"  style="height:100px;" ng-repeat="cmt in Post.comment">
                                     <div class="col-sm-2 text-center">
                                    <img class="img-circle" ng-src="{{cmt.avatar}}" height="65" width="65" alt="Avatar" >

                                    </div> 
                                    <div class="col-sm-10">
                                        <h4><a href="/users/{{cmt.user}}" style="text-decoration: none;">{{cmt.user}}</a> </h4>
                                        <p>{{cmt.cmt}}</p>
                                        <br>
                                    </div>
                                </li>
                            </ul>
                              
                       <!-- </div> -->
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="avatar" src=<%=user.profile.avatar%>>
                        </div>
                        <div class="col-md-7">
                            <div class="thong_tin_ca_nhan">
                                <a href="/users/<%=user.username%>" style="text-decoration: none;">
                                    <%=user.username%>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1" style="margin:20px;">
                                    <label>  Số bài:<%= user.profile.words.length%>  </label> 
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!-- <hr> -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; TTNT 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('likeApp', []);
        app.controller("like", function ($scope, $http) {
            $http.get("/word/<%=doc._id%>").then(function (result) {
                console.log('start show word!!!');
                console.log(result);
                $scope.Post = result.data[0];
            });
            $scope.likeOrUnLike = function () {
                console.log('x');
                if ($scope.Post.isLike == true) {
                    $scope.Post.isLike = false;
                    $scope.Post.soLike--;
                    $http({
                        method: "POST",
                        url: "/unlikePost",
                        data: {
                            id: $scope.Post.id
                        },
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function (data) {
                        console.log(data.data[0]);
                        $scope.Post = data.data[0];
                    })

                } else {
                    $scope.Post.isLike = true;
                    $scope.Post.soLike++;
                    $http({
                        method: "POST",
                        url: "/likePost",
                        data: {
                            id: $scope.Post.id
                        },
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function (data) {
                        $scope.Post = data.data[0];
                    })
                }
            }
            $scope.addCmt = function () {
                var yourCmt = $scope.comment;
                var reqUser = $scope.Post.reqUser;
                console.log('reqUser'+reqUser);
                $scope.Post.soCmt++;
                console.log(yourCmt);
                $scope.Post.comment.push({
                    cmt: yourCmt,
                    user: reqUser.username,
                    avatar: reqUser.profile.avatar
                })
                console.log($scope.Post.comment);
                $scope.comment=' ';
                $http({
                    method: "POST",
                    url: "/addCmt",
                    data: {
                        yourCmt: yourCmt,
                        id: $scope.Post.id,
                        iduser: $scope.Post.reqUser._id
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (data) {
                    // $scope.myPosts = data.data;
                    console.log(data.data);
                })
            }
            

        })
    </script>

</body>

</html>