<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
        .like-icon{
            color: blue;
        }
        .unlike-icon{
            color: #DDDDDD;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/users/posts">TTNT</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/<%=reqUser.username%>">
                            <%=reqUser.username%>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/write"> Viết bài</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/logout">Đăng xuất</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->

    <div  ng-app="likeApp" ng-controller="like">
        <section id="">
            <div class="container">
                <div class="col-md-8">
                    <center>
                        <h1>
                            {{Post.title}}
                        </h1>
                    </center><br>
                    <div id="content">
                        {{Post.content}}
                    </div>
                   
                    <div style="float:right;">
                        <div class="col-md-3">
                            <table class="text-center">
                                <tr>
                                    <th><label>  {{Post.soLike }}</label></th>
                                    <th>
                                        <label ng-class="Post.isLike ? 'like-icon' : 'unlike-icon'" ng-click="likeOrUnLike()"> 
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
                                        </label>
                                    </th>

                                    <th><label> {{Post.soCmt }}</label></th>
                                    <th><label>  <i class="fa fa-bookmark" aria-hidden="true"></i></label></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="avatar" src=<%=user.profile.avatar%>>
                        </div>
                        <div class="col-md-7">
                            <div class="thong_tin_ca_nhan">
                                <a href="/users/<%=user.username%>" style="text-decoration: none;">
                                    <%=user.username%>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1 tt_fs">
                            <table class="text-center">
                                <tr>

                                    <th><label>  Following  |  </label></th>
                                    <th><label>  Số bài  </label></th>
                                </tr>
                                <tr>

                                    <td> 20 </td>
                                    <!-- <td><%= user.profile.words.length%> </td> -->
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; TTNT 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('likeApp', []);
        app.controller("like", function ($scope, $http) {
            $http.get("/word/<%=doc._id%>").then(function(result) {
                console.log('start show word!!!');
                console.log(result);
                $scope.Post = result.data[0];
            }); 
            $scope.likeOrUnLike = function(){
                console.log('x');
                if($scope.Post.isLike == true){
                    $scope.Post.isLike = false;
                    $scope.Post.soLike--;
                    $http({
                        method : "POST",
                        url: "/unlikePost",
                        data: {id: $scope.Post.id },
                        headers: {'Content-Type': 'application/json'}
                    }).then(function(data){
                        console.log(data.data[0]);
                        $scope.Post = data.data[0];
                    })

                }else{
                    $scope.Post.isLike = true;
                    $scope.Post.soLike++;
                    $http({
                        method : "POST",
                        url: "/likePost",
                        data: {id: $scope.Post.id },
                        headers: {'Content-Type': 'application/json'}
                    }).then(function(data){
                        $scope.Post = data.data[0];
                    })
                }
            }
            $scope.delPosts = function(id,owner){
                console.log(id);
                $http({
                method : "DELETE",
                url: "/delPost",
                data: {id: id,owner:owner},
                headers: {'Content-Type': 'application/json'}
              }).then(function(data){
                $scope.myPosts = data.data;
                })
            }

        })
    </script>

</body>

</html>