<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TTNT</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/<%=reqUser.username%>">
                            <%=reqUser.username%>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/write"> Viết bài</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/logout">Đăng xuất</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->

    <div class="container">

    </div>
    <section id="">
        <div class="container">
            <div class="col-md-8">
                <center>
                    <h3>
                        <%= doc.title %>
                    </h3>
                </center><br>
                <div>
                    <%= doc.content %>
                </div>
                <div style="float:right;">
                    <div class="col-md-3">
                        <table class="text-center">
                            <tr>
                                <th><label>  <%= doc.soLike %></label></th>
                                <th><label> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></label></th>

                                <th><label> <%= doc.soLike %></label></th>
                                <th><label>  <i class="fa fa-bookmark" aria-hidden="true"></i></label></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5">
                        <img class="avatar" src=<%=user.profile.avatar%>>
                    </div>
                    <div class="col-md-7">
                        <div class="thong_tin_ca_nhan">
                            <a href="/users/<%=user.username%>" style="text-decoration: none;">
                                <%=user.username%>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 tt_fs">
                        <table class="text-center">
                            <tr>

                                <th><label>  Following  |  </label></th>
                                <th><label>  Số bài  </label></th>
                            </tr>
                            <tr>

                                <td> 20 </td>
                                <td> 5 </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; TTNT 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>