<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TTNT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Navigation -->
       <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/users/posts" style="margin-left: 20px;">TTNT</a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
          <li ><a href="/users/posts">Trang chủ</a></li>
          <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><%=reqUser.username%> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                     <li><a href="/users/<%=reqUser.username%>">Trang cá nhân</a></li>
                    <li class="active"><a href="/users/write">Viết bài</a></li>
                </ul>
          </li>
          <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>
    <!-- Page Content -->
    <div class="container">

    </div>
    <section id="">
        <div class="intro-header myBody">
            <div class="container">

                <div class="text-center col-md-8 col-md-offset-2" ng-app="upLoad" ng-controller="up-load">
                    <h1><span class="fa fa-sign-in"></span> Report</h1>
                    <hr>
                    <form action="/users/upLoad" method="post" name="">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control title" ng-model="title" placeholder="Title" value="<%=title%>" />

                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <!-- <input class="" autocapitalize='off' autocomplete="off" row=4 type="text" color="black" name="content" ng-model="content" placeholder="Content" /> -->
                            <textarea class ="form-control content" rows="20" cols="100" placeholder=" Write content here..." ng-model="content" name="content" value= "" ><%=content%></textarea>
                        </div>
                        <button type="Submit" class="btn btn-info">Upload</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; TTNT 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // $('.title').value(<%=title%>);
    </script>

</body>

</html>